In [1]:
from bs4 import BeautifulSoup, NavigableString, Tag
import pandas as pd
import requests
import os
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import Select
import numpy as np
import glob
import time

In [2]:
chrome_options = webdriver.ChromeOptions()
prefs = {'download.default_directory' : os.getcwd()}
chrome_options.add_experimental_option('prefs', prefs)
driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=chrome_options)
service = ChromeService(executable_path=ChromeDriverManager().install())

C:\Users\ebroh\AppData\Local\Temp\ipykernel_88784\1264243978.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=chrome_options)
C:\Users\ebroh\AppData\Local\Temp\ipykernel_88784\1264243978.py:4: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=chrome_options)

In [3]:
def openBudgetSite(driver, school_code, fiscal_year, budgetOrAllocation = 'budget'):
    if (budgetOrAllocation == 'allocation'):
        driver.get("https://www.nycenet.edu/offices/d_chanc_oper/budget/dbor/galaxy/galaxyallocation/default.aspx")

    elif (budgetOrAllocation == 'budget'):
        driver.get("https://www.nycenet.edu/offices/d_chanc_oper/budget/dbor/galaxy/galaxybudgetsummaryto/default.aspx")
        
    else:
        raise ValueError('Budget or Allocation value must be either "budget" or "allocation"')
                         
    # get element 
    element = driver.find_element(By.XPATH,'//*[@id="School_Code"]')

    # send keys 
    element.send_keys(school_code)

    x = driver.find_element(By.XPATH,'//*[@id="Fiscal_Year"]')
    drop=Select(x)

    # select by visible text
    drop.select_by_visible_text(fiscal_year)

    driver.find_element(By.XPATH,'//*[@id="Enter"]').click()


    try:
        element = driver.find_element(By.XPATH,'//*[@id="messag"]/div[1]/div[3]/h2/a')
        element.text.index(location_codes[5])
        return True

    except Exception as e:
        if hasattr(e, 'message'):
            return e.message
        else:
            return e

def allocationPageScraper(driver, school_code, fiscal_year):
    list_of_dfs = pd.read_html(driver.page_source)
    final_df = pd.DataFrame(columns=['location_code', 'fiscal_year', 'allocation_category', 'amount'])

    for df in list_of_dfs:
        df = df.rename(columns={df.columns[0]: 'allocation_category', df.columns[1]: 'amount'})
        df = df[df["allocation_category"].str.contains("total", case = False)==False]
        df['location_code'] = school_code
        df['fiscal_year'] = fiscal_year
        final_df = pd.concat([final_df, df])
    
    return final_df
    
    
def budgetPageScraper(driver, school_code, fiscal_year):
    section_titles = driver.find_elements(By.CLASS_NAME , 'TO_Section')
    list_of_dfs = pd.read_html(driver.page_source)
    
    final_df = pd.DataFrame(columns=['location_code', 'fiscal_year', 'budget_category', 'budget_assignment', 'num_positions', 'service_type', 'amount'])

    for i,df in enumerate(list_of_dfs):
        if (len(df.columns) == 2):
            df = df.rename(columns={df.columns[0]: 'budget_assignment', df.columns[1]: 'amount'})
            df = df[df["budget_assignment"].str.contains("total", case = False)==False]
            df['location_code'] = school_code
            df['fiscal_year'] = fiscal_year
            df['budget_category'] = section_titles[i].text
            df['num_positions'] = None
            df['service_type'] = None
            final_df = pd.concat([final_df, df])
        
        elif (len(df.columns) == 3):
            df = df.rename(columns={df.columns[0]: 'budget_assignment', df.columns[1]: 'num_positions', df.columns[2]: 'amount'})
            df = df[df["budget_assignment"].str.contains("total", case = False)==False]
            df['location_code'] = school_code
            df['fiscal_year'] = fiscal_year
            df['budget_category'] = section_titles[i].text
            df['service_type'] = None
            final_df = pd.concat([final_df, df])

        elif (len(df.columns) == 4):
            df = df.rename(columns={df.columns[0]: 'budget_assignment', df.columns[1]: 'service_type', df.columns[2]: 'num_positions', df.columns[3]: 'amount'})
            df = df[df["budget_assignment"].str.contains("total", case = False)==False]
            df = df[df["service_type"].str.contains("total", case = False)==False]
            df['location_code'] = school_code
            df['fiscal_year'] = fiscal_year
            df['budget_category'] = section_titles[i].text
            final_df = pd.concat([final_df, df])
            
    return final_df

In [4]:
if (openBudgetSite(driver, 'M125', '2022', 'budget')):
    df = budgetPageScraper(driver, 'M125', '2022')

In [5]:
df

,location_code,fiscal_year,budget_category,budget_assignment,num_positions,service_type,amount
0,M125,2022,Leadership,HEAD OF SCHOOL,1.0,None,"$ 84,471"
1,M125,2022,Leadership,AP - SUPERVISION,1.0,None,"$ 121,384"
0,M125,2022,Coordinator/Supervisor/Dean,PARENT COORDINATOR,1.0,None,"$ 53,241"
0,M125,2022,Secretary,School Secretary,1.0,None,"$ 76,956"
0,M125,2022,Classroom Teacher,Pre K,2.0,WHOLE CLASS,"$ 178,549"
1,M125,2022,Classroom Teacher,K,2.0,WHOLE CLASS,"$ 207,632"
2,M125,2022,Classroom Teacher,"K,1",1.0,SELF-CONTAINED SP ED,"$ 97,194"
3,M125,2022,Classroom Teacher,1,2.0,WHOLE CLASS,"$ 198,553"
4,M125,2022,Classroom Teacher,2,2.0,WHOLE CLASS,"$ 194,824"
5,M125,2022,Classroom Teacher,3,2.0,WHOLE CLASS,"$ 231,099"
6,M125,2022,Classroom Teacher,4,1.0,REDUCED CLASS SIZE,"$ 109,301"
7,M125,2022,Classroom Teacher,4,1.0,SELF-CONTAINED SP ED,"$ 97,137"
9,M125,2022,Classroom Teacher,45,1.0,ICT - Special Ed Teacher,"$ 107,165"
10,M125,2022,Classroom Teacher,5,1.0,WHOLE CLASS,"$ 97,137"
0,M125,2022,Elementary Cluster/Quota,COMPUTER,1.0,WHOLE CLASS,"$ 122,450"
1,M125,2022,Elementary Cluster/Quota,PHYSICAL EDUCATION,1.0,WHOLE CLASS,"$ 106,766"
2,M125,2022,Elementary Cluster/Quota,READING/LITERACY,1.0,WHOLE CLASS,"$ 97,137"
0,M125,2022,Special Needs - Support Services,ESL,1.0,PUSH IN/PULL OUT,"$ 97,137"
1,M125,2022,Special Needs - Support Services,OCCUPATIONAL THERAPY,1.0,PUSH IN/PULL OUT,"$ 81,110"
2,M125,2022,Special Needs - Support Services,SETSS,1.0,PUSH IN/PULL OUT,"$ 97,137"
3,M125,2022,Special Needs - Support Services,SPEECH,2.0,PUSH IN/PULL OUT,"$ 119,154"
0,M125,2022,Guidance/Social Workers,Guidance Counselor,1.0,None,"$ 106,106"
0,M125,2022,SBST,DC 37 Para More Than 20 Hrs,0.0,None,"$ 12,722"
1,M125,2022,SBST,School Psychologist Mandated Services,1.0,None,"$ 154,225"
2,M125,2022,SBST,School Social Worker,1.0,None,"$ 154,225"
0,M125,2022,Paraprofessionals,CLASSROOM - General Ed,1.0,None,"$ 66,593"
1,M125,2022,Paraprofessionals,CLASSROOM - Special Ed,1.0,None,"$ 66,593"
2,M125,2022,Paraprofessionals,IEP-CRISIS MANAGEMENT(CIT),5.0,None,"$ 250,888"
3,M125,2022,Paraprofessionals,IEP-HEALTH,2.0,None,"$ 97,792"
4,M125,2022,Paraprofessionals,IEP-TOILETING,2.0,None,"$ 74,025"
0,M125,2022,School Aides and Other Support Staff,School Aides and Other Support Staff,0.0,None,"$ 62,983"
0,M125,2022,Per Diem,ABSENCE COVERAGE,NaN,None,"$ 128,860"
1,M125,2022,Per Diem,IEP-CRISIS MANAGEMENT(CIT),NaN,None,"$ 62,932"
0,M125,2022,Per Session,AFTER/BEFORE SCHOOL STUDENT PROGRAMS,NaN,None,"$ 132,183"
1,M125,2022,Per Session,PARENT INVOLVEMENT,NaN,None,"$ 57,919"
2,M125,2022,Per Session,SUMMER STUDENT PROGRAMS,NaN,None,"$ 23,534"
0,M125,2022,OTPS,Curriculum & Staff Development Contracts,NaN,None,"$ 66,275"
1,M125,2022,OTPS,Data Processing Repair - Contractual,NaN,None,"$ 1,588"
2,M125,2022,OTPS,Educational Consultants,NaN,None,"$ 110,315"
3,M125,2022,OTPS,Educational Software,NaN,None,"$ 22,568"
4,M125,2022,OTPS,Library Books,NaN,None,"$ 7,035"
5,M125,2022,OTPS,Non-Contractual Services,NaN,None,"$ 7,817"
6,M125,2022,OTPS,Supplies - General,NaN,None,"$ 76,400"
7,M125,2022,OTPS,Textbooks,NaN,None,"$ 8,771"
8,M125,2022,OTPS,Transportation of Staff - Non-Contract,NaN,None,$ 400
0,M125,2022,Sixth period coverage,Not Available,NaN,None,"$ 6,143"
0,M125,2022,People Working Partial Year,People Working Partial Year,NaN,None,"$ 300,394"
0,M125,2022,School Site,Main School,41.0,None,"$ 4,634,820"

In [6]:
if(openBudgetSite(driver, 'M125', '2022', 'allocation')):
    df = allocationPageScraper(driver, 'M125', '2022')

In [7]:
df

,location_code,fiscal_year,allocation_category,amount
0,M125,2022,4K for All,"$ 475,301"
1,M125,2022,ARPA Academic Recovery,"$ 79,229"
2,M125,2022,ARPA Academic Recovery AP Summer Rising,"$ 17,990"
3,M125,2022,ARPA Academic Recovery Arts,"$ 19,807"
4,M125,2022,ARPA Academic Recovery SE After-School Instruc...,"$ 24,609"
...,...,...,...,...
7,M125,2022,TL RS Speech Sixth Period Coverage,"$ 6,143"
8,M125,2022,TL SBST Shared,"$ 17,138"
9,M125,2022,TL Situation Room,"$ 3,953"
10,M125,2022,TL Terminal and Paid Leaves,"$ 13,502"
11,M125,2022,TL Translation Services,"$ 1,203"