In [59]:
#Convert to .py
!jupytext --to py:percent "C:\Users\ebroh\BetaNYC\School Budgets\School-Budget-and-Allocations\notebooks\streamlitVisuals.ipynb"

[jupytext] Reading C:\Users\ebroh\BetaNYC\School Budgets\School-Budget-and-Allocations\notebooks\streamlitVisuals.ipynb in format ipynb
[jupytext] Writing 'C:\Users\ebroh\BetaNYC\School Budgets\School-Budget-and-Allocations\notebooks\streamlitVisuals.py' in format py:percent (destination file replaced)

In [1]:
import pandas as pd
from re import sub
from decimal import Decimal
import streamlit as st

def moneyToFloat(money):
    value = Decimal(sub(r'[^\d.]', '', money))
    return value

# Total Allocations vs Budget

In [21]:
allocations = pd.read_csv(r"C:\Users\ebroh\BetaNYC\School Budgets\School-Budget-and-Allocations\data\district 5\allocation_district_5.csv")
allocations = allocations.drop(columns = ['Unnamed: 0'])
allocations['amountNum'] = allocations['amount'].apply((lambda x: moneyToFloat(x)))
#allocations

In [22]:
totalAllocations = allocations.groupby(by=['location_code', 'fiscal_year'])['amountNum'].sum().reset_index()
totalAllocations = totalAllocations.rename(columns = {'amountNum': 'total'})
totalAllocations['type'] = 'allocations'
#totalAllocations

In [28]:
budget = pd.read_csv(r"C:\Users\ebroh\BetaNYC\School Budgets\School-Budget-and-Allocations\data\district 5\budget_district_5.csv")
budget = budget.drop(columns = ['Unnamed: 0'])
budget['amountNum'] = budget['amount'].apply((lambda x: moneyToFloat(x)))
budget

,location_code,fiscal_year,budget_category,budget_assignment,num_positions,service_type,amount,amountNum
0,M692,2022,Leadership,HEAD OF SCHOOL,1.0,NaN,"$ 197,026",197026
1,M692,2022,Leadership,AP - ORGANIZATION,1.0,NaN,"$ 148,166",148166
2,M692,2022,Coordinator/Supervisor/Dean,PARENT COORDINATOR,1.0,NaN,"$ 43,968",43968
3,M692,2022,Secretary,School Secretary,2.0,NaN,"$ 149,545",149545
4,M692,2022,High School Departments,ENGLISH LANGUAGE ARTS,1.0,SUBJECT SPECIFIC,"$ 106,797",106797
...,...,...,...,...,...,...,...,...
7677,M030,2018,OTPS,TELECOMMUNICATION CONTRACTS,NaN,NaN,$ 446,446
7678,M030,2018,OTPS,TEXTBOOKS,NaN,NaN,"$ 7,756",7756
7679,M030,2018,OTPS,TRANSPORTATION OF PUPILS - CONTRACTUAL,NaN,NaN,"$ 2,765",2765
7680,M030,2018,OTPS,TRANSPORTATION OF STAFF - NON-CONTRACT,NaN,NaN,"$ 1,412",1412
7681,M030,2018,People Working Partial Year,People Working Partial Year,NaN,NaN,"$ 101,435",101435

In [24]:
totalBudget = budget.groupby(by=['location_code', 'fiscal_year'])['amountNum'].sum().reset_index()
totalBudget = totalBudget.rename(columns = {'amountNum': 'total'})
totalBudget['type'] = 'budget'
#totalBudget

In [25]:
totals = pd.concat([totalBudget, totalAllocations])
#totals.sample(15)

In [27]:
totalsPivot = totals.pivot(index = ['location_code', 'type'], columns = ['fiscal_year'], values = ['total']).reset_index()
# Flatten the MultiIndex columns
totalsPivot.columns = totalsPivot.columns.to_flat_index()

# Rename the columns
totalsPivot = totalsPivot.reset_index()
new_columns = ['index', 'location_code', 'type', '2018', '2019', '2020', '2021', '2022']
totalsPivot.columns = new_columns
totalsPivot =  totalsPivot.drop(columns = 'index')
totalsPivot

,location_code,type,2018,2019,2020,2021,2022
0,M030,allocations,5835002,5817134,5736135,5663435,5490561
1,M030,budget,5830440,5702230,5677318,5586738,5490551
2,M036,allocations,6575446,6774786,6908722,6909623,7355254
3,M036,budget,6480667,6705048,6837152,6853434,7262792
4,M046,allocations,7660059,8358052,8247303,8363241,9354042
5,M046,budget,7620097,8325404,8239311,8357774,9320309
6,M092,allocations,4464084,4647008,4666921,4639564,4538439
7,M092,budget,4445337,4630609,4607173,4587448,4522231
8,M123,allocations,8085767,7481821,6992685,6909528,7888131
9,M123,budget,7904112,7457720,6893315,6822129,7805259
10,M125,allocations,4179430,4369867,4500314,4722599,4664943
11,M125,budget,4117817,4364282,4408817,4661088,4634820
12,M129,allocations,6282598,6872152,6704155,6964859,6734296
13,M129,budget,6278359,6852478,6500134,6951196,6715505
14,M133,allocations,4084845,5264604,5572413,5612812,6800426
15,M133,budget,4084840,5262284,5470885,5581077,6641533
16,M148,allocations,3607798,4459555,4689835,5020029,5536022
17,M148,budget,3605978,4418746,4620684,4950723,5394196
18,M154,allocations,4671374,5028860,5117897,4925651,5473460
19,M154,budget,4662596,4922559,5073177,4916809,5440268
20,M157,allocations,2526384,3098254,3076108,3351947,3451310
21,M157,budget,2522803,3079172,3085686,3351371,3447767
22,M161,allocations,9725660,10443155,10106900,10160252,10999873
23,M161,budget,9700059,10412717,9932876,10111703,10777549
24,M175,allocations,4039284,4758240,5023833,5226919,5702106
25,M175,budget,4021239,4747165,4908706,5221118,5607007
26,M194,allocations,3709413,3994243,3881054,3498453,3715801
27,M194,budget,3672276,3991460,3745782,3393555,3649826
28,M197,allocations,5423520,6048182,6273400,6090482,6149422
29,M197,budget,5400781,5953118,6160330,6079972,6088403
30,M200,allocations,6346785,6611262,6709826,6483722,7209608
31,M200,budget,6304897,6489695,6582806,6468040,7004984
32,M285,allocations,2877923,3633482,3250627,3481706,3789547
33,M285,budget,2853068,3588458,3219623,3481692,3594542
34,M286,allocations,2645538,2948390,2812677,2661741,3258262
35,M286,budget,2643435,2934162,2762261,2645059,3088985
36,M302,allocations,2593688,NaN,NaN,NaN,NaN
37,M302,budget,2565430,NaN,NaN,NaN,NaN
38,M304,allocations,3101457,3249239,2942221,2896498,3212481
39,M304,budget,3044219,3220988,2885619,2882986,3179020
40,M318,allocations,2431536,2482504,2533279,2684747,3279244
41,M318,budget,2410537,2468947,2525432,2684598,3259777
42,M362,allocations,5515417,5962430,6247169,6609906,7797879
43,M362,budget,5481041,5902084,6182844,6591408,7760658
44,M367,allocations,2307228,NaN,NaN,NaN,NaN
45,M367,budget,2102830,NaN,NaN,NaN,NaN
46,M369,allocations,3430548,3961444,4100818,4275869,5056510
47,M369,budget,3425343,3959011,4095673,4275840,5033497
48,M499,allocations,10805281,11768329,11615487,11001044,11641805
49,M499,budget,10786013,11714004,11358448,10722744,11461424
50,M514,allocations,2223751,2590858,2969345,3397587,3804257
51,M514,budget,2147803,2517777,2899317,3376592,3534419
52,M517,allocations,2614019,3151030,3875322,3820464,4394981
53,M517,budget,2581436,3153974,3805984,3799161,4380284
54,M670,allocations,5088513,5624037,6236440,7111222,7929142
55,M670,budget,5070746,5622715,5930621,7056062,7876366
56,M692,allocations,4407113,4742274,4737902,4748394,5461980
57,M692,budget,4394142,4644996,4726927,4748351,5272509

# Funding by Category

In [65]:
allocationCategories = pd.read_csv(r"C:\Users\ebroh\BetaNYC\School Budgets\School-Budget-and-Allocations\data\allocation_category_lookup.csv")
allocationCategories

                  allocation_category allocation_category_group
0       Contract for Excellence FY 09   Contract for Excellence
1    Contract for Excellence FY 09 HS   Contract for Excellence
2             TL Fair Student Funding      Fair Student Funding
3          TL Fair Student Funding HS      Fair Student Funding
4               TL Funds Over Formula      Fair Student Funding
..                                ...                       ...
726                Self Sustaining 14                     Other
727                Self Sustaining 35                     Other
728                Self Sustaining 12                     Other
729                  SLP Leg Grant 03                     Other
730                Self Sustaining 49                     Other

[731 rows x 2 columns]

In [112]:
allocationCategories['allocation_category_group'].unique()

array(['Contract for Excellence', 'Fair Student Funding',
       'TL SE Specialized Programs ASD', 'Other',
       'School Support Supplement', 'Preschool', 'Related Services',
       'Title I', 'Title 1'], dtype=object)

In [66]:
district_5_allocation_categories = allocations.merge(allocationCategories, how = 'left', left_on = 'allocation_category', right_on = 'allocation_category')
district_5_allocation_categories

,allocation_category,amount,location_code,fiscal_year,amountNum,allocation_category_group
0,AIDP Attendance Shared,"$ 150,490",M692,2022,150490,Other
1,ARPA Academic Recovery,"$ 112,682",M692,2022,112682,Other
2,ARPA Academic Recovery Arts,"$ 28,171",M692,2022,28171,Other
3,ARPA Academic Recovery SE After-School Instruc...,"$ 16,242",M692,2022,16242,Other
4,ARPA Academic Recovery SE Counseling,"$ 2,223",M692,2022,2223,Other
...,...,...,...,...,...,...
6901,TL Summer in the City Shared,"$ 12,969",M030,2018,12969,Other
6902,TL Translation Services,"$ 1,027",M030,2018,1027,Other
6903,TL Vision for School Improvement,"$ 19,097",M030,2018,19097,Other
6904,Universal PreK Quality Full-Day,"$ 205,776",M030,2018,205776,Preschool
6905,Universal PreK Quality Full-Day Plus,"$ 102,888",M030,2018,102888,Preschool

In [69]:
funding_per_category = district_5_allocation_categories.groupby(by = ['location_code', 'fiscal_year', 'allocation_category_group'])['amountNum'].sum().reset_index()
funding_per_category

    location_code  fiscal_year allocation_category_group amountNum
0            M030         2018   Contract for Excellence    109432
1            M030         2018      Fair Student Funding   3228153
2            M030         2018                     Other    837965
3            M030         2018                 Preschool    634955
4            M030         2018          Related Services    518102
..            ...          ...                       ...       ...
824          M692         2022   Contract for Excellence     45445
825          M692         2022      Fair Student Funding   4348117
826          M692         2022                     Other    978364
827          M692         2022          Related Services     84288
828          M692         2022                   Title I      5766

[829 rows x 4 columns]

In [75]:
funding_per_category_pivot = funding_per_category.pivot(index = ['location_code', 'allocation_category_group'], columns = ['fiscal_year'], values = 'amountNum').reset_index()
funding_per_category_pivot

fiscal_year,location_code,allocation_category_group,2018,2019,2020,2021,2022
0,M030,Contract for Excellence,109432,106221,104345,104345,104345
1,M030,Fair Student Funding,3228153,2904842,2738880,2487667,2148210
2,M030,Other,837965,942101,724539,865320,1021966
3,M030,Preschool,634955,924557,1132875,1138401,1205471
4,M030,Related Services,518102,460117,512688,509531,457142
...,...,...,...,...,...,...,...
169,M692,Contract for Excellence,52732,48695,45445,45445,45445
170,M692,Fair Student Funding,3847378,3881761,3966819,4052555,4348117
171,M692,Other,436172,736457,679591,576692,978364
172,M692,Related Services,63311,67023,39749,68136,84288
173,M692,Title I,7520,8338,6298,5566,5766

# Enrollment and FSF

In [81]:
enrollment = pd.read_csv(r"C:\Users\ebroh\BetaNYC\School Budgets\School-Budget-and-Allocations\data\district 5\district_5_demographic_data.csv")
enrollment

,Unnamed: 0,DBN,School Name,Year,Total Enrollment,Grade 3K,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,1095,05M030,P.S. 030 Hernandez/Hughes,2017-18,252,0,16,48,38,38,...,0.024,0,0.000,75,0.298,30,0.119,239,94.8%,Above 95%
1,1096,05M030,P.S. 030 Hernandez/Hughes,2018-19,253,15,15,45,39,32,...,0.032,0,0.000,60,0.237,22,0.087,235,92.9%,93.8%
2,1097,05M030,P.S. 030 Hernandez/Hughes,2019-20,236,17,17,29,31,37,...,0.021,0,0.000,63,0.267,16,0.068,Above 95%,Above 95%,93.2%
3,1098,05M030,P.S. 030 Hernandez/Hughes,2020-21,205,13,22,15,28,25,...,0.020,0,0.000,57,0.278,15,0.073,192,93.7%,92.6%
4,1099,05M030,P.S. 030 Hernandez/Hughes,2021-22,171,9,21,16,22,29,...,0.029,0,0.000,52,0.304,18,0.105,161,94.2%,91.2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,1227,05M692,"High School for Mathematics, Science and Engin...",2017-18,500,0,0,0,0,0,...,0.272,47,0.094,25,0.050,1,0.002,227,45.4%,41.7%
131,1228,05M692,"High School for Mathematics, Science and Engin...",2018-19,491,0,0,0,0,0,...,0.303,57,0.116,27,0.055,1,0.002,204,41.5%,39.3%
132,1229,05M692,"High School for Mathematics, Science and Engin...",2019-20,485,0,0,0,0,0,...,0.291,60,0.124,28,0.058,0,0.000,180,37.1%,37.9%
133,1230,05M692,"High School for Mathematics, Science and Engin...",2020-21,496,0,0,0,0,0,...,0.280,48,0.097,30,0.060,0,0.000,183,36.9%,38.1%
134,1231,05M692,"High School for Mathematics, Science and Engin...",2021-22,524,0,0,0,0,0,...,0.284,49,0.094,36,0.069,0,0.000,192,36.6%,38.4%

In [82]:
enrollment.columns

Index(['Unnamed: 0', 'DBN', 'School Name', 'Year', 'Total Enrollment',
       'Grade 3K', 'Grade PK (Half Day & Full Day)', 'Grade K', 'Grade 1',
       'Grade 2', 'Grade 3', 'Grade 4', 'Grade 5', 'Grade 6', 'Grade 7',
       'Grade 8', 'Grade 9', 'Grade 10', 'Grade 11', 'Grade 12', '# Female',
       '% Female', '# Male', '% Male', '# Asian', '% Asian', '# Black',
       '% Black', '# Hispanic', '% Hispanic', '# Multi-Racial',
       '% Multi-Racial', '# Native American', '% Native American', '# White',
       '% White', '# Missing Race/Ethnicity Data',
       '% Missing Race/Ethnicity Data', '# Students with Disabilities',
       '% Students with Disabilities', '# English Language Learners',
       '% English Language Learners', '# Poverty', '% Poverty',
       'Economic Need Index'],
      dtype='object')

In [91]:
def removeLeadingZero(string):
    return(sub(r'^\d\d', '', string))

def year2FY(year):
    return(sub(r'-\d\d$', '', year))

In [93]:
enrollment['DBN'] = enrollment['DBN'].apply(lambda x: removeLeadingZero(x))
enrollment['fiscal_year'] = enrollment['Year'].apply(lambda x: year2FY(x))
enrollment

,Unnamed: 0,DBN,School Name,Year,Total Enrollment,Grade 3K,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,...,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index,fiscal_year
0,1095,M030,P.S. 030 Hernandez/Hughes,2017-18,252,0,16,48,38,38,...,0,0.000,75,0.298,30,0.119,239,94.8%,Above 95%,2017
1,1096,M030,P.S. 030 Hernandez/Hughes,2018-19,253,15,15,45,39,32,...,0,0.000,60,0.237,22,0.087,235,92.9%,93.8%,2018
2,1097,M030,P.S. 030 Hernandez/Hughes,2019-20,236,17,17,29,31,37,...,0,0.000,63,0.267,16,0.068,Above 95%,Above 95%,93.2%,2019
3,1098,M030,P.S. 030 Hernandez/Hughes,2020-21,205,13,22,15,28,25,...,0,0.000,57,0.278,15,0.073,192,93.7%,92.6%,2020
4,1099,M030,P.S. 030 Hernandez/Hughes,2021-22,171,9,21,16,22,29,...,0,0.000,52,0.304,18,0.105,161,94.2%,91.2%,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,1227,M692,"High School for Mathematics, Science and Engin...",2017-18,500,0,0,0,0,0,...,47,0.094,25,0.050,1,0.002,227,45.4%,41.7%,2017
131,1228,M692,"High School for Mathematics, Science and Engin...",2018-19,491,0,0,0,0,0,...,57,0.116,27,0.055,1,0.002,204,41.5%,39.3%,2018
132,1229,M692,"High School for Mathematics, Science and Engin...",2019-20,485,0,0,0,0,0,...,60,0.124,28,0.058,0,0.000,180,37.1%,37.9%,2019
133,1230,M692,"High School for Mathematics, Science and Engin...",2020-21,496,0,0,0,0,0,...,48,0.097,30,0.060,0,0.000,183,36.9%,38.1%,2020
134,1231,M692,"High School for Mathematics, Science and Engin...",2021-22,524,0,0,0,0,0,...,49,0.094,36,0.069,0,0.000,192,36.6%,38.4%,2021

In [106]:
enrollmentFinal = pd.DataFrame()
enrollmentFinal = enrollment[['DBN','fiscal_year', 'Total Enrollment', 'Grade 3K', 'Grade PK (Half Day & Full Day)']]
enrollmentFinal['3K-PreK_enrollment'] = enrollmentFinal['Grade 3K'] + enrollmentFinal['Grade PK (Half Day & Full Day)']
enrollmentFinal['K-5_enrollment'] = enrollmentFinal['Total Enrollment'] - enrollmentFinal['3K-PreK_enrollment']
enrollmentFinal = enrollmentFinal.drop(columns = ['Grade 3K', 'Grade PK (Half Day & Full Day)'])
enrollmentFinal

C:\Users\ebroh\AppData\Local\Temp\ipykernel_41444\724273399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrollmentFinal['3K-PreK_enrollment'] = enrollmentFinal['Grade 3K'] + enrollmentFinal['Grade PK (Half Day & Full Day)']
C:\Users\ebroh\AppData\Local\Temp\ipykernel_41444\724273399.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrollmentFinal['K-5_enrollment'] = enrollmentFinal['Total Enrollment'] - enrollmentFinal['3K-PreK_enrollment']

      DBN fiscal_year  Total Enrollment  3K-PreK_enrollment  K-5_enrollment
0    M030        2017               252                  16             236
1    M030        2018               253                  30             223
2    M030        2019               236                  34             202
3    M030        2020               205                  35             170
4    M030        2021               171                  30             141
..    ...         ...               ...                 ...             ...
130  M692        2017               500                   0             500
131  M692        2018               491                   0             491
132  M692        2019               485                   0             485
133  M692        2020               496                   0             496
134  M692        2021               524                   0             524

[135 rows x 5 columns]

In [136]:
pivot1 = enrollmentFinal.pivot(index = ['DBN'], columns = ['fiscal_year'], values = '3K-PreK_enrollment').reset_index()
pivot1['Grades'] = '3K-PreK'
pivot2 = enrollmentFinal.pivot(index = ['DBN'], columns = ['fiscal_year'], values = 'K-5_enrollment').reset_index()
pivot2['Grades'] = 'K-5'
enrollmentPivot = pd.concat([pivot1, pivot2])
enrollmentPivot = enrollmentPivot.rename(columns = {'Grades':'Type'})
temp = funding_per_category_pivot[funding_per_category_pivot['allocation_category_group'].isin(['Fair Student Funding', 'Preschool'])]
temp = temp.rename(columns = {'allocation_category_group': 'Type', 'location_code': 'DBN', 2018:'2018', 2019:'2019', 2020:'2020', 2021:'2021'})
temp = temp.drop(columns = [2022])
enrollmentPivot = enrollmentPivot.drop(columns = '2017')
enrollmentPivot = pd.concat([enrollmentPivot, temp])
enrollmentPivot

fiscal_year   DBN     2018     2019     2020     2021                  Type
0            M030       30       34       35       30               3K-PreK
1            M036       69       92       42       54               3K-PreK
2            M046       51       44       36       51               3K-PreK
3            M092       18       17       10       15               3K-PreK
4            M123       49       60       40       54               3K-PreK
..            ...      ...      ...      ...      ...                   ...
154          M514  1408207  1469664  1582416  1554330  Fair Student Funding
159          M517  1699861  2018023  2358500  2642484  Fair Student Funding
161          M517   186653   197712   427523   427565             Preschool
165          M670  3475928  3827873  4150704  4326225  Fair Student Funding
170          M692  3847378  3881761  3966819  4052555  Fair Student Funding

[97 rows x 6 columns]

# Staff vs Enrollment

In [148]:
teaching_budget = budget[budget['budget_category'].isin(['Paraprofessionals', 'Classroom Teacher', 'Homeroom Teacher', 'Elementary Cluster/Quota', 'Cluster/Quota Teacher'])]
teaching_budget['budget_category'] = teaching_budget['budget_category'].replace(['Classroom Teacher', 'Homeroom Teacher', 'Elementary Cluster/Quota', 'Cluster/Quota Teacher'], 'Teacher')
teaching_budget.sample(10)

C:\Users\ebroh\AppData\Local\Temp\ipykernel_41444\3274682473.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teaching_budget['budget_category'] = teaching_budget['budget_category'].replace(['Classroom Teacher', 'Homeroom Teacher', 'Elementary Cluster/Quota', 'Cluster/Quota Teacher'], 'Teacher')

,budget_assignment,num_positions,amount,budget_category,service_type,location_code,fiscal_year,amountNum
6466,Pre K,2.0,"$ 267,811",Teacher,WHOLE CLASS,M123,2022,267811
5255,45,1.0,"$ 90,523",Teacher,SELF-CONTAINED SP ED,M154,2018,90523
5317,SPECIAL EDUCATION (OR ALL SUBJECTS),4.0,"$ 275,461",Teacher,Sub-Total,M148,2022,275461
3536,Pre K,1.0,"$ 129,642",Teacher,WHOLE CLASS,M197,2019,129642
4255,1,2.0,"$ 219,306",Teacher,Sub-Total,M161,2022,219306
6728,3,1.0,"$ 88,421",Teacher,ICT - General Ed Teacher,M123,2019,88421
4541,1,1.0,"$ 88,931",Teacher,WHOLE CLASS,M161,2019,88931
4563,6,2.0,"$ 178,113",Teacher,WHOLE CLASS,M161,2019,178113
3692,5,1.0,"$ 88,485",Teacher,ICT - General Ed Teacher,M194,2022,88485
6725,2,1.0,"$ 83,391",Teacher,ICT - Special Ed Teacher,M123,2019,83391

In [152]:
positions_per_school = teaching_budget.groupby(by = ['location_code', 'fiscal_year', 'budget_category'])['num_positions'].sum().reset_index()
positions_per_school

    location_code  fiscal_year    budget_category  num_positions
0            M030         2018  Paraprofessionals           10.0
1            M030         2018            Teacher           53.0
2            M030         2019  Paraprofessionals           12.0
3            M030         2019            Teacher           50.0
4            M030         2020  Paraprofessionals           12.0
..            ...          ...                ...            ...
234          M670         2022  Paraprofessionals            6.0
235          M692         2018  Paraprofessionals            1.0
236          M692         2019  Paraprofessionals            1.0
237          M692         2021  Paraprofessionals            1.0
238          M692         2022  Paraprofessionals            1.0

[239 rows x 4 columns]

In [168]:
positions_per_school_pivot = positions_per_school.pivot(index = ['location_code', 'budget_category'], columns = 'fiscal_year', values = 'num_positions').reset_index()
positions_per_school_pivot = positions_per_school_pivot.rename(columns = {'budget_category': 'type'})
positions_per_school_pivot = positions_per_school_pivot.rename(columns = {2018:'2018', 2019:'2019', 2020:'2020', 2021:'2021'})
positions_per_school_pivot

fiscal_year location_code               type  2018  2019  2020  2021  2022
0                    M030  Paraprofessionals  10.0  12.0  12.0  12.0  11.0
1                    M030            Teacher  53.0  50.0  51.0  37.0  31.0
2                    M036  Paraprofessionals  20.0  16.0  17.0  18.0  20.0
3                    M036            Teacher  60.8  55.0  57.0  55.0  43.0
4                    M046  Paraprofessionals  10.0  14.0  19.0  21.0  18.0
5                    M046            Teacher  85.0  82.0  84.0  76.0  70.0
6                    M092  Paraprofessionals  12.0  11.0  11.0  10.0   7.0
7                    M092            Teacher  38.0  32.0  33.0  31.0  24.0
8                    M123  Paraprofessionals   7.0   7.0   8.0  12.0   7.0
9                    M123            Teacher  65.0  62.0  64.0  62.0  62.0
10                   M125  Paraprofessionals  21.0  24.0  24.0  22.0  11.0
11                   M125            Teacher  20.0  19.0  26.0  27.0  20.0
12                   M129  Paraprofessionals  17.0  17.0  15.0  15.0  13.0
13                   M129            Teacher  57.0  59.0  56.0  57.0  46.0
14                   M133  Paraprofessionals   9.0  11.0  11.0  13.0  18.0
15                   M133            Teacher  34.0  38.0  39.0  38.0  45.0
16                   M148  Paraprofessionals   3.0   4.0   4.0   7.0   5.0
17                   M148            Teacher  31.0  42.0  37.0  35.0  28.0
18                   M154  Paraprofessionals   7.0   9.0   8.0   9.0   9.0
19                   M154            Teacher  32.0  40.0  39.0  30.0  30.0
20                   M157  Paraprofessionals   1.0   3.0   3.0   3.0   3.0
21                   M161  Paraprofessionals  20.0  16.0  16.0  15.0  16.0
22                   M161            Teacher  96.0  94.0  91.0  89.0  91.0
23                   M175  Paraprofessionals  11.0  11.0  12.0   8.0   4.0
24                   M175            Teacher  30.0  35.0  31.0  33.0  27.0
25                   M194  Paraprofessionals   8.0   7.0   7.0   6.0   4.0
26                   M194            Teacher  29.0  36.0  30.0  21.0  18.0
27                   M197  Paraprofessionals  19.0  18.0  18.0  18.0  14.0
28                   M197            Teacher  49.0  47.0  47.0  49.0  44.0
29                   M200  Paraprofessionals   8.0  11.0  13.0  12.0  14.0
30                   M200            Teacher  62.0  56.0  50.0  49.0  47.0
31                   M285  Paraprofessionals   0.0   0.0   NaN   NaN   NaN
32                   M286  Paraprofessionals   7.0   7.0   6.0   6.0   5.0
33                   M286            Teacher  23.0  16.0  20.0  16.0  14.0
34                   M302  Paraprofessionals   5.0   NaN   NaN   NaN   NaN
35                   M302            Teacher  24.0   NaN   NaN   NaN   NaN
36                   M304  Paraprofessionals   2.0   2.0   2.0   1.0   2.0
37                   M318  Paraprofessionals   6.0   6.0   7.0  10.0   8.0
38                   M318            Teacher  16.2  13.0  14.0  13.0  12.0
39                   M362  Paraprofessionals   8.0   7.0   8.0  12.0   8.0
40                   M362            Teacher  47.0  43.0  46.0  36.0  41.0
41                   M367  Paraprofessionals   2.0   NaN   NaN   NaN   NaN
42                   M369  Paraprofessionals   1.0   2.0   3.0   4.0   2.0
43                   M499  Paraprofessionals   6.0   5.0   7.0   6.0   9.0
44                   M499            Teacher  58.0  60.0  51.0  44.0  40.0
45                   M514  Paraprofessionals   4.0   6.0   9.0   9.0   9.0
46                   M514            Teacher  20.0  17.0  24.0  28.0  25.0
47                   M517  Paraprofessionals   3.0   4.0   4.0   5.0   7.0
48                   M517            Teacher  24.0  26.0  41.0  42.0  38.0
49                   M670  Paraprofessionals   3.0   2.0   4.0   7.0   6.0
50                   M692  Paraprofessionals   1.0   1.0   NaN   1.0   1.0

In [170]:
totalEnrollment = enrollment[['DBN','fiscal_year', 'Total Enrollment']]
totalEnrollment = totalEnrollment.rename(columns = {'DBN': 'location_code'})
totalEnrollmentPivot = totalEnrollment.pivot(index = 'location_code', columns = 'fiscal_year', values = 'Total Enrollment').reset_index()
totalEnrollmentPivot['type'] = 'Total Enrollment'
staffAndEnrollment = pd.concat([totalEnrollmentPivot,positions_per_school_pivot])
staffAndEnrollment = staffAndEnrollment.drop(columns = ['2017', 2022])
staffAndEnrollment

fiscal_year location_code   2018   2019   2020   2021               type
0                    M030  253.0  236.0  205.0  171.0   Total Enrollment
1                    M036  355.0  374.0  312.0  290.0   Total Enrollment
2                    M046  630.0  557.0  490.0  479.0   Total Enrollment
3                    M092  259.0  243.0  214.0  210.0   Total Enrollment
4                    M123  471.0  461.0  418.0  430.0   Total Enrollment
..                    ...    ...    ...    ...    ...                ...
46                   M514   20.0   17.0   24.0   28.0            Teacher
47                   M517    3.0    4.0    4.0    5.0  Paraprofessionals
48                   M517   24.0   26.0   41.0   42.0            Teacher
49                   M670    3.0    2.0    4.0    7.0  Paraprofessionals
50                   M692    1.0    1.0    NaN    1.0  Paraprofessionals

[78 rows x 6 columns]

# Budget Per Staff Member

In [173]:
pos_and_budget = teaching_budget.groupby(by = ['location_code', 'fiscal_year', 'budget_category'])['amountNum'].sum().reset_index()
pos_and_budget

    location_code  fiscal_year    budget_category amountNum
0            M030         2018  Paraprofessionals    414942
1            M030         2018            Teacher   5107239
2            M030         2019  Paraprofessionals    495617
3            M030         2019            Teacher   4587081
4            M030         2020  Paraprofessionals    543100
..            ...          ...                ...       ...
234          M670         2022  Paraprofessionals    154407
235          M692         2018  Paraprofessionals     39317
236          M692         2019  Paraprofessionals     40779
237          M692         2021  Paraprofessionals     39294
238          M692         2022  Paraprofessionals     45691

[239 rows x 4 columns]

In [177]:
budget_per_staff = pos_and_budget.merge(positions_per_school, on = ['location_code','fiscal_year','budget_category'])
budget_per_staff['average_budget'] = budget_per_staff['amountNum'].astype(float)/budget_per_staff['num_positions']
budget_per_staff

,location_code,fiscal_year,budget_category,amountNum,num_positions,average_budget
0,M030,2018,Paraprofessionals,414942,10.0,41494.200000
1,M030,2018,Teacher,5107239,53.0,96363.000000
2,M030,2019,Paraprofessionals,495617,12.0,41301.416667
3,M030,2019,Teacher,4587081,50.0,91741.620000
4,M030,2020,Paraprofessionals,543100,12.0,45258.333333
...,...,...,...,...,...,...
234,M670,2022,Paraprofessionals,154407,6.0,25734.500000
235,M692,2018,Paraprofessionals,39317,1.0,39317.000000
236,M692,2019,Paraprofessionals,40779,1.0,40779.000000
237,M692,2021,Paraprofessionals,39294,1.0,39294.000000
238,M692,2022,Paraprofessionals,45691,1.0,45691.000000